{% extends 'app/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4>Profile Information</h4>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-md-6">
                            {{ form.first_name.label_tag }}
                            {{ form.first_name }}
                        </div>
                        <div class="col-md-6">
                            {{ form.last_name.label_tag }}
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                    <div class="mb-3">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div>
                    <div class="mb-3">
                        {{ form.hospital.label_tag }}
                        {{ form.hospital }}
                    </div>
                    <div class="mb-3">
                        {{ form.license_number.label_tag }}
                        {{ form.license_number }}
                    </div>
                    <div class="mb-3">
                        {{ form.phone_number.label_tag }}
                        {{ form.phone_number }}
                    </div>
                    <div class="mb-3">
                        {{ form.profile_picture.label_tag }}
                        {{ form.profile_picture }}
                        {% if user.profile_picture %}
                            <div class="mt-2">
                                <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="img-thumbnail" width="150">
                            </div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary">Update Profile</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}